@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8A2BE2;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: center;
}

header {
    color: #FF8C00;
    padding: 2rem;
    margin-top: 4rem;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

section { 
    display: flex;
    flex-direction: column;
    text-align:center
}

h2 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

input {
    width: 16%;
    margin: 1rem;
    padding: 0.5rem;
    outline: none;
    border: 2.5px solid #8B008B;
    border-radius: 5px;
    background-color: transparent;
}

section a {
    color: #FF69B4;
}

.section-cadastro {
    margin-top: 2rem;
}

footer{
    margin-top: 5rem;
    color: #000000;
}
